.idea
target/*
logs/
/bin/
/target/
.settings/
.checkstyle
.classpath
.projectaws-openapi.iml
aws-openapi.iml
logs/
.openapi-generator/aws-resources.json
api-extensions.json
openapi.json
aws-resources.json
configuration/
generated/
.openapi-generator/
