<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <!--Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern-->
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="SERVER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/application-test.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>logs/application.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <!--Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern-->
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="CURL" class="ch.qos.logback.core.FileAppender">
    <file>logs/curl.log</file>
    <append>true</append>
    <encoder>
      <pattern>%msg%n%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="SERVER"/>
  </root>

  <logger name="curl" additivity="false" level="DEBUG">
    <appender-ref ref="CURL"/>
  </logger>

</configuration>